<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">Lift Journal</a>
        </div>
    </nav>
    <div class="column is-one-quarter">
        <div class="block">
            <h1 class="title">My Stats</h1>
        </div>
    </div>
</html>