<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">Lift Journal</a>
        </div>
    </nav>
    <div class="column is-one-quarter">
        <h1 class="title">My Workouts</h1>
        <div class="block">
            <button class="button is-success">New Workout</button>
        </div>
        <div class="fixed-grid has-0-cols">
            <div class="grid">
                <div class="buttons">
                    <button class="button">Workout 1</button>
                    <button class="button">Workout 2</button>
                    <button class="button">Workout n</button>
                </div>
            </div>
        </div>
    </div>
</html>