<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">Lift Journal</a>
        </div>
    </nav>
    <div class="column is-one-quarter">
        <div class="block">
            <h1 class="title">New Workout</h1>
        </div>
        <div class="block">
            <div class="field">
                <label class="label">Exercise Name</label>
                <div class="control">
                    <select>
                        <option>Exercise A</option>
                        <option>Exercise B</option>
                        <option>Exercise X</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="fixed-grid has-0-cols">
            <div class="grid">
                <div class="buttons">
                    <button class="button is-success">Add Exercise</button>
                    <button class="button is-danger">End Workout</button>
                </div>
            </div>
        </div>
    </div>
</html>